<!DOCTYPE html>
<html lang="en">
<body>
    <div class="site-blocks-cover overlay" style="background-image: url(assets/slider-1.jpg) ;
    background-repeat: no-repeat; 
    height:100%" data-aos="fade"
    data-stellar-background-ratio="0.1">
            <div class="container-fluid">
                <div class="row align-items-center justify-content-center"> 
                    <div class="col-lg-5 text-center">
                        <div class="featured-hero-product w-100">
                            <h1 class="mb-2">Emart</h1>
                            <h4>Online Shopping</h4>
                            <p><a href="#" class="btn btn-outline-primary rounded-0">Shop Now</a></p>
                        </div>
                    </div>
                    </div> 
                </div>
     </div>
</body>
</html>



