<section class="container-fluid p-4 bg-light">

    <form class="form-inline">
        <label for="lb">Lower Bound:</label>
        <input type="number" class="form-control" id="lb" name="lb" [(ngModel)]="lb"/>
        <label for="ub">Upper Bound</label>
        <input type="number" class="form-control" id="ub" name="ub" [(ngModel)]="ub"/>
        <button type="button" (click)="generate()" class="btn btn-primary" [disabled]="!isJobDone">Generate</button>
    </form>

<div class="bg-dark text-light p-3">
<p *ngIf="errMsg">{{errMsg}}</p>
<div >
    <span *ngFor="let n of result">{{n}},</span>
</div>
</div>
</section>