<body>
    <section class="grid">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/electronics.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a ">
                      <h2 class="card-title-a">
                        <a href="gadgets">Gadgets</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="gadgets" class="link-a">Click here to view
                        <span class="ion-ios-arrow-forward"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/electronics.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="laptops">Laptops</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="laptops" class="link-a">Click here to view
                        <span class="ion-ios-arrow-forward"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4">
              <div class="card-box-a card-shadow">
                <div class="img-box-a">
                  <img src="assets/electronics.jpg" alt="" class="img-a img-fluid">
                </div>
                <div class="card-overlay">
                  <div class="card-overlay-a-content">
                    <div class="card-header-a">
                      <h2 class="card-title-a">
                        <a href="machines">Machines</a>
                      </h2>
                    </div>
                    <div class="card-body-a">
                      <a href="machines" class="link-a">Click here to view
                        <span class="ion-ios-arrow-forward"></span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
        
      <!--/ Property Grid End /-->