<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<body>
<div class="container-fluid">
<br>
<br>
<div class="row">
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQxBYRrXN_SYqduDdvGRSFRGnPB4UytCxA-uZf6X0AdY4N52mNHa3Wf1RwGbX91gyIEql13hhr7RQ&usqp=CAc"></div>
		<figcaption class="info-wrap">
				<h4 class="title">Bluetooth Ear Phones with Mic</h4>
				<p class="desc">Compatible With smartphones
                    Bluetooth Connectivity
                    Built-in mic
                    Up to 20 hours of battery Life</p>
                <br>
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap" >
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>	
			<div class="price-wrap h5">

				<span class="price-new">8500/-</span> <del class="price-old">9000/-</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSeFbUTFAuDTiQHOzQCz2W9gwHjd5BHSL2H4ODFt1p0zwy11rfiN5AcCwW0DfZw44GsXz7P1G8c1cpyaPFB9lJgKenDq5r4A5_iezFpRi-P&usqp=CAE"> </div>
		<figcaption class="info-wrap">
				<h4 class="title">Apple iPhone 11 Pro</h4>
				<p class="desc">Apple · iPhone · iOS · 5.8 inches screen · Facial Recognition · 12 MP Front Camera · 12 MP Rear Camera · 4G LTE · 256 GB · Water Resistant
                    iPhone 11 Pro Gold 256GB All-new triple-camera system. All-day battery life.( 1) The fastest chip in a smartphone. And the brightest iPhone display yet. iPhone just went pro.
                    </p>
                   
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap" >
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>	
				<div class="price-wrap h5">
					<span class="price-new">11080/-</span> <del class="price-old">11580/-</del>
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div>
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://m.media-amazon.com/images/I/71draof7XTL._AC_UY327_FMwebp_QL65_.jpg"> </div>
		<figcaption class="info-wrap">
				<h4 class="title">Fire-Boltt Xplode 1500 Portable Bluetooth Outdoor Speaker</h4>
				<p class="desc">IPX7 Waterproof & Weatherproof with Enhanced Bass (Black)</p>
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>
				<div class="price-wrap h5">
					<span class="price-new">1280/-</span> <del class="price-old">1780/-</del>
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->

<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQxBYRrXN_SYqduDdvGRSFRGnPB4UytCxA-uZf6X0AdY4N52mNHa3Wf1RwGbX91gyIEql13hhr7RQ&usqp=CAc"></div>
		<figcaption class="info-wrap">
				<h4 class="title">Bluetooth Ear Phones with Mic</h4>
				<p class="desc">Compatible With smartphones
                    Bluetooth Connectivity
                    Built-in mic
                    Up to 20 hours of battery Life</p>
                <br>
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap" >
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>	
			<div class="price-wrap h5">

				<span class="price-new">8500/-</span> <del class="price-old">9000/-</del>
			</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSeFbUTFAuDTiQHOzQCz2W9gwHjd5BHSL2H4ODFt1p0zwy11rfiN5AcCwW0DfZw44GsXz7P1G8c1cpyaPFB9lJgKenDq5r4A5_iezFpRi-P&usqp=CAE"> </div>
		<figcaption class="info-wrap">
				<h4 class="title">Apple iPhone 11 Pro</h4>
				<p class="desc">Apple · iPhone · iOS · 5.8 inches screen · Facial Recognition · 12 MP Front Camera · 12 MP Rear Camera · 4G LTE · 256 GB · Water Resistant
                    iPhone 11 Pro Gold 256GB All-new triple-camera system. All-day battery life.( 1) The fastest chip in a smartphone. And the brightest iPhone display yet. iPhone just went pro.
                    </p>
                   
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap" >
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>	
				<div class="price-wrap h5">
					<span class="price-new">11080/-</span> <del class="price-old">11580/-</del>
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div>
<div class="col-md-4">
	<figure class="card card-product">
		<div class="img-wrap"><img src="https://m.media-amazon.com/images/I/71draof7XTL._AC_UY327_FMwebp_QL65_.jpg"> </div>
		<figcaption class="info-wrap">
				<h4 class="title">Fire-Boltt Xplode 1500 Portable Bluetooth Outdoor Speaker</h4>
				<p class="desc">IPX7 Waterproof & Weatherproof with Enhanced Bass (Black)</p>
				<div class="rating-wrap">
					<div class="label-rating">132 reviews</div>
					<div class="label-rating">154 orders </div>
				</div> <!-- rating-wrap.// -->
		</figcaption>
		<div class="bottom-wrap">
			<button type="button" name="btnSave" class="btn btn-primary"
            (click)="save()">Add to Cart</button>
				<div class="price-wrap h5">
					<span class="price-new">1280/-</span> <del class="price-old">1780/-</del>
				</div> <!-- price-wrap.// -->
		</div> <!-- bottom-wrap.// -->
	</figure>
</div> <!-- col // -->


