<body>
    <div class="container-fluid">
    <br>
    <br>
    <div class="row">
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ912LTWYnYjc8NjAlQPsrvj_FdDfhn2quAukKFiIDSZquxiBf1xw82OogrzeQt81s8PolAfv6PEvZz33Z7cI_F5evzon6GHwT0IhjWdqZn1oR8py4RGwL7&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Checkered Casual Slim Shirt</h4>
                    <p class="desc">Navy Blue and beige checked casual shirt, has a spread collar, button placket, 2 pockets, long sleeves, curved hem
                        <br><strong> Size & Fit</strong>
                       <br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong>Material & Care</strong>
                        <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
                        <span class="price-new">1180/-</span> <del class="price-old">1580/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTHSdd_vdoyFTxYuIkq0V7funraN5olI4_T4sdlhEoG5QUggcHv7ykB1pZ42oyLlYomOJxCs0BMaU5sqk2-HjjvCGpV4Pa7euQ--y3SWf7opaVDKjFJNBt4&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Mustard Yellow Regular Fit Solid Casual Shirt</h4>
                    <p class="desc">Mustard yellow solid casual shirt, has a spread collar, long sleeves, curved hem, two patch pockets
                        <br>
                        <strong>Size & Fit</strong><br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong> Material & Care</strong>
                       <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>
                    <div class="price-wrap h5">
                        <span class="price-new">1780/-</span> <del class="price-old">2180/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ912LTWYnYjc8NjAlQPsrvj_FdDfhn2quAukKFiIDSZquxiBf1xw82OogrzeQt81s8PolAfv6PEvZz33Z7cI_F5evzon6GHwT0IhjWdqZn1oR8py4RGwL7&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Checkered Casual Slim Shirt</h4>
                    <p class="desc">Navy Blue and beige checked casual shirt, has a spread collar, button placket, 2 pockets, long sleeves, curved hem
                        <br><strong> Size & Fit</strong>
                       <br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong>Material & Care</strong>
                        <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
                        <span class="price-new">1180/-</span> <del class="price-old">1580/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ912LTWYnYjc8NjAlQPsrvj_FdDfhn2quAukKFiIDSZquxiBf1xw82OogrzeQt81s8PolAfv6PEvZz33Z7cI_F5evzon6GHwT0IhjWdqZn1oR8py4RGwL7&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Checkered Casual Slim Shirt</h4>
                    <p class="desc">Navy Blue and beige checked casual shirt, has a spread collar, button placket, 2 pockets, long sleeves, curved hem
                        <br><strong> Size & Fit</strong>
                       <br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong>Material & Care</strong>
                        <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
                        <span class="price-new">1180/-</span> <del class="price-old">1580/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcTHSdd_vdoyFTxYuIkq0V7funraN5olI4_T4sdlhEoG5QUggcHv7ykB1pZ42oyLlYomOJxCs0BMaU5sqk2-HjjvCGpV4Pa7euQ--y3SWf7opaVDKjFJNBt4&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Mustard Yellow Regular Fit Solid Casual Shirt</h4>
                    <p class="desc">Mustard yellow solid casual shirt, has a spread collar, long sleeves, curved hem, two patch pockets
                        <br>
                        <strong>Size & Fit</strong><br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong> Material & Care</strong>
                       <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap">
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>
                    <div class="price-wrap h5">
                        <span class="price-new">1780/-</span> <del class="price-old">2180/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    <div class="col-md-4">
        <figure class="card card-product">
            <div class="img-wrap"><img src="https://encrypted-tbn0.gstatic.com/shopping?q=tbn:ANd9GcQ912LTWYnYjc8NjAlQPsrvj_FdDfhn2quAukKFiIDSZquxiBf1xw82OogrzeQt81s8PolAfv6PEvZz33Z7cI_F5evzon6GHwT0IhjWdqZn1oR8py4RGwL7&usqp=CAE"> </div>
            <figcaption class="info-wrap">
                    <h4 class="title">Men Checkered Casual Slim Shirt</h4>
                    <p class="desc">Navy Blue and beige checked casual shirt, has a spread collar, button placket, 2 pockets, long sleeves, curved hem
                        <br><strong> Size & Fit</strong>
                       <br>
                        Regular Fit<br>
                        The model (height 6') is wearing a size 40<br>
                        <strong>Material & Care</strong>
                        <br>
                        Cotton<br>
                        Machine-wash</p>
                    <div class="rating-wrap">
                        <div class="label-rating">132 reviews</div>
                        <div class="label-rating">154 orders </div>
                    </div> <!-- rating-wrap.// -->
            </figcaption>
            <div class="bottom-wrap" >
                <button type="button" name="btnSave" class="btn btn-primary"
                (click)="save()">Add to Cart</button>	
                    <div class="price-wrap h5">
                        <span class="price-new">1180/-</span> <del class="price-old">1580/-</del>
                    </div> <!-- price-wrap.// -->
            </div> <!-- bottom-wrap.// -->
        </figure>
    </div>
    
    
    
    </div> <!-- row.// -->
    
    
    
    </div> 
    <!--container.//-->
    
    </body>